<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Storage Layer Tests">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
            <exclude>
                <directory>storage</directory>
                <directory>tests</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors" value="1" />
    </php>
</phpunit>
